.git
.gitignore
.github
manifests
node_modules
dist
build
coverage
tests
**/*.test.*
**/*.spec.*
.eslintcache
eslint.config.js
README.md
.env
.env.*
*.local
*.log
npm-debug.log*
.DS_Store
Thumbs.db
Dockerfile
.dockerignore
docker-compose*.yml